@model Streamnote.Relational.Models.Descriptors.StepDescriptor


<div class="row">
    <div class="col-md-12">
        <form id="createTaskForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>  
            <div class="form-group">                                       
                <input id="stepContent" class="form-control" placeholder="What needs doing?"/>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>   
            <div class="form-group">
                <a class="btn btn-light" style="float:right:"onclick="saveStep(@Model.TaskId)" >Submit</a>
            </div>
        </form>
    </div>
</div>

