@model streamnote.Models.Descriptors.ProfileDescriptor

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-md-4" style="text-align: left;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12"> 
                        <div class="profilePictureContainer">
                            @{
                                if (Model.UserImage == null || Model.UserImageContentType == null)
                                {
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/1665px-No-Image-Placeholder.svg.png"
                                         style="width: 100%;"/>
                                }
                                else
                                {
                                    <img src="data:@Model.UserImageContentType;base64,@Convert.ToBase64String(Model.UserImage)" style="width: 200px; height: 200px; margin: 0 auto;"/>
                                }
                            }
                        </div>
                        <div class="card">
                            <div class="card-body" style="padding: 8px;">
                                <h3 style="text-align: center;">@Model.UserFullName</h3>
                                <br/>
                                @{
                                    if (!Model.IsSignedInUser)
                                    {
                                        <a href="/Messages/Index?username=@Model.UserName" class="actionButton profileActionButton">Message</a>
                                        <a href="/Messages/Index?username=@Model.UserName" class="actionButton profileActionButton">Connect</a>
                                    }

                                    if (Model.Bio is {Length: > 0 })
                                    {
                                        <span><strong>Bio: </strong>
                                            @Model.Bio
                                        </span>
                                    }
                                }                
                                    <div class="col-sm-12" style="padding: 0; width: 100%;">
                                        <h4>Images</h4>
                                        <hr/>            
                                            @{
                                                foreach (var image in Model.Images)
                                                {
                                                    <div style="width: 32%; overflow: hidden; display: inline-block; margin: 0;">
                                                        <img src="data:@image.UserImageContentType;base64,@Convert.ToBase64String(image.UserImage)" style="height: 100px; width: 100%; margin: 0 auto;"/>
                                                    </div>
                                                }
                                            } 
                                    </div>  
                                <br/>
                                <div class="col-sm-12" style="padding: 0; width: 100%;">
                                        <h4>Recent Comments</h4>
                                        <hr/>
                                        <div class="row" style="padding: 8px; font-size: 0.8em;">
                                            @{
                                                foreach (var comment in Model.Comments)
                                                {

                                                    @Html.Partial("_Comment", comment)
                                                    ;
                                                }
                                            }
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            @foreach (var item in Model.Posts)
            {
                @Html.Partial("_Item", item)
            }
        </div>
    </div>
</div>