@model Streamnote.Relational.Models.Descriptors.ProjectDescriptor


<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" asp-controller="Projects">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>  
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" id="projectTitleInput" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsPublic" /> @Html.DisplayNameFor(model => model.IsPublic)
                </label>
            </div> 
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

