
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h4>task statistics</h4>
                </div>
                <div class="card-body" style="padding: 15px;">
                    <canvas id="taskPieChart" style="width:100%;"></canvas>
                </div>   
                <hr/>
                <div class="card-body" style="padding: 15px;">
                    <canvas id="taskBarChart" style="width:100%;"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>