   @{
       ViewData["Title"] = "Analytics";
   }
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card background-element color-standard">
                <div class="card-header">
                    <h4>task statistics</h4>
                </div>
                <div class="card-body color-standard" style="padding: 15px;">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6"> 
                                <canvas id="taskPieChart" class="color-standard" style="width: 100%;"></canvas>
                            </div>
                            <div class="col-md-6">
                                <canvas id="taskLineChart" style="width: 100%;"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  