@model streamnote.Models.Descriptors.StreamDescriptor

@{
    ViewData["Title"] = "Stream";
}

<div class="container-fluid">
    <div class="col-md-6 offset-3">
        @foreach (var item in Model.Items)
        {
            @Html.Partial("_Item", item)
        }
    </div>
</div>
