@model Streamnote.Relational.Models.Descriptors.TaskCommentDescriptor


<div class="row">
    <div class="col-md-12">
        <form id="createTaskCommentForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>  
            <div class="form-group">                                  
            <textarea id="taskCommentContent" class="form-control" placeholder="Write a comment..." rows="10"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>   
            <div class="form-group">
                <a class="btn btn-light" onclick="saveTaskComment(@Model.TaskId)" >Submit</a>
            </div>
        </form>
    </div>
</div>

