@model streamnote.Models.Item

@{
    ViewData["Title"] = "Create";
}

<h1>New Post</h1>
<hr />

<form asp-action="Create" enctype="multipart/form-data">
    @Html.Partial("_Editor", Model)
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>

