@model Streamnote.Relational.Models.Descriptors.ItemDescriptor 

@{
    ViewData["Title"] = "New Post";
}

<hr />

<form asp-action="CreateOrUpdate" enctype="multipart/form-data">
    @Html.Partial("_Editor", Model)
</form> 

