@model Streamnote.Relational.Models.Descriptors.ItemDescriptor

@{
    ViewData["Title"] = "View Post";
}

<div class="container">
    <div class="col-md-10 offset-1">
        
        @Html.Partial("_Item", Model)
            
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>
</div>
