@model streamnote.Models.Descriptors.ItemDescriptor

@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid">
    <div class="col-md-12">
        
        @Html.Partial("_Item", Model)
        
    </div>
</div>
