@model streamnote.Models.Descriptors.ItemDescriptor

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="col-md-8 offset-2">
        
        @Html.Partial("_Item", Model)
            
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>
</div>
