@model Streamnote.Relational.Models.Item

@{
    ViewData["Title"] = "Edit";
}


<form asp-action="Edit" enctype="multipart/form-data">
    @Html.Partial("_Editor", Model)
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>
