@model streamnote.Models.Item

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Post</h1>
<hr/>

<form asp-action="Edit" enctype="multipart/form-data">
    @Html.Partial("_Editor", Model)
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>
