@model IEnumerable<Streamnote.Relational.Models.Descriptors.ItemDescriptor>

@{
    ViewData["Title"] = "Your Posts";
}

<div class="container-fluid">
    <div class="row">    
        <div class="col-md-6">
            <span>published posts</span> 
            <hr/>
            <table class="table table-bordered">
                <tbody>
                @foreach (var item in Model.Where(i => i.IsPublic))
                {

                    @Html.Partial("_ScheduleItem", item)
                }
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <span>draft posts</span>
            <a class="btn btn-sm btn-success" href="/Item/Create" style="float: right; margin-top: -8px;">New Post</a>
            <hr/>
            <table class="table table-bordered" style=" max-width: 100%;">
                <tbody>
                @foreach (var item in Model.Where(i => !i.IsPublic))
                {

                    @Html.Partial("_ScheduleItem", item)
                }
                </tbody>
            </table>
            <button class="btn btn-sm btn-danger" onclick="deleteAllDrafts()">Delete all draft posts</button>
        </div>
    </div>
</div>

