@model IEnumerable<Streamnote.Relational.Models.Descriptors.ItemDescriptor>

@{
    ViewData["Title"] = "your posts";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-pills nav-justified"">
                <li class="active nav-item">
                    <a data-toggle="tab" class="nav-link" href="#published">
                        <i class="fa fa-check"></i>
                        published posts
                    </a>
                </li>
                <li class="nav-item">
                    <a data-toggle="tab" class="nav-link" href="#drafts">
                        <i class="fa fa-pencil"></i>
                        draft posts
                    </a>
                </li> 
                <li class="nav-item" >
                    <a href="/Item/Create" class="nav-link">
                        <i class="fa fa-pencil"></i>
                        new post
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="published" class="tab-pane active">   
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th style="width: 40%;">
                                @Html.DisplayNameFor(model => model.Image)
                            </th>
                            <th style="width:50%">
                                Details
                            </th>
                            <th style="width: 15%;">
                                Actions
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model.Where(i => i.IsPublic)) {

                            @Html.Partial("_ScheduleItem", item);
                        }
                        </tbody>
                    </table> 
                </div>
                <div id="drafts" class="tab-pane fade">   
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th style="width: 40%;">
                                @Html.DisplayNameFor(model => model.Image)
                            </th>
                            <th style="width:50%">
                                Details
                            </th>
                            <th style="width: 15%;">
                                Actions
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model.Where(i => !i.IsPublic)) {

                            @Html.Partial("_ScheduleItem", item);
                        }
                        </tbody>
                    </table> 
                </div>
            </div>
        </div>
    </div>
</div>

