

@media only screen and (max-width: 600px) {
    .offset-3 {
        margin-left: 0;
    }

    .container-fluid {
        padding-left: 0;
        padding-right: 0;
        max-width: 100%;
    }

    .col-sm-4 {
        width: 33%;
    }

    .container {
        padding-left: 5px;
        padding-right: 5px;
        max-width: 100%;
    }

    .hideOnPhone {
        display: none;
    }
    .nav-links {
        display: inline-block;
        padding: 5px 8px;
    }
    .navbar-nav {
         flex-direction: row;
         width: 100%;
    }
    main {
        max-width: 100%;
    }
    .nav-item {
        padding: 3px 8px 5px 8px;
        font-size: 1.2em;
        background-color: rgba(0, 0, 0, 0.05);
        width: 15%;
        height: 45px;
        text-align:center;
        margin: 0 4px;
    }
    .offset-3 {
        margin: 0;
    }
    .col-sm-7, .col-md-7 {
        margin: 0 auto;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .hideOnWideScreen {
        display: block;
    }
    .messagesPage {
        position: relative;
        display: block;
        width: 100%;
        padding: 10px;
        margin-top: -50px;
    }

    .messagesContacts {
        padding: 0;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        height: 100%;
    }
    #sendMessageContainer {
        position: fixed;
        right: 0;
        bottom: -540px;
        left: 0;
        z-index: 1030;
        height: 100px;
        display: block;
    }
    .row {
        margin-left: 0;
        margin-right: 0;
    }
    .col-sm-6 {
        padding: 4px;
    }
    .col-sm-12 {
        padding-left: 2px;
        padding-right: 2px;
    }
    .taskTab {
        margin: 13px 2px;
    }
    .taskTitle {
        max-width: 79%;
    }
    #published, #drafts {
        margin-top: 30px;
    }
    .item-options {
        height: 60px;
    }
    .offset-2 {
        margin-left: 0;
    }
    .col-md-8 {
        padding-left: 0;
        padding-right: 0;
    }
    .modal {
        bottom: 0;
    }
    t.navbar-toggler, .navbar-light .navbar-toggler-icon, .navbar-light .navbar-toggler {
        background-color: transparent;
    }
    .projectSelectionOption {
        margin: 2px 0;
        padding: 4px;
    }























}