/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: black;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
a:hover, button:hover, .actionButton:hover {
    cursor: pointer;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-link { 
    font-size: 0.8em;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;                 
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.card {
    width: 100%;
}

.card {
    margin-bottom: 5px;
}

.card-body {
    padding: 0;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.01);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.icon {
    width: 23px;
    height: 23px;
    margin-top: -5px;
    border-radius: 50%;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}

.commentInput {
    width: 100%;
    background-color: #f7f7f7;
    color: black;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    padding: 5px 8px;
}
.comment {
    background-color: rgba(0, 0, 0, 0.03);
    margin-top: 5px;
}
.commentText {
    margin-bottom: 0;
    padding: 8px;
    font-size: 1em;
}

.comment, .commentSection, .message {
    width: 100%;
    padding: 10px;
}

hr {
    margin: 3px 0;
}

.submitButton {
    background-color: skyblue;
    border-radius: 50%;
    color: white;
    border: none;
    margin-top: 12px;
}
.submitComment {
    bottom: 11px;
    position: absolute;
    background-color: skyblue;
    border-radius: 50%;
    color: white;
    border: none;
}
.postInput {
    width: 100%;
}
#imageuploader {
    display: none;
    margin: 5px;
}

.chatNavBar {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.02);
    padding: 8px;
}
.userNameChat {
    font-weight: bold;
}
.message {
    padding: 8px;
    margin: 8px 0;
}
 .container {
        padding-left: 5px;
        padding-right: 5px;
    }


@media only screen and (min-width: 600px) {
    .height-90 { height: 90vh; }

    .scrollableOnWideScreen { overflow-y:scroll; }

    .absoluteOnWideScreen {
        position: absolute;
        left: 0;
        right: 0;
    }
}

@media only screen and (max-width: 600px) {
   
    .offset-3 {
        margin-left: 0;
    }
    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
    .col-sm-4 {
        width: 33%;
    }
    
    .hideOnPhone {
        display: none;
    }
}

.contactLink {
    padding: 4px 15px;
    border-radius: 20px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.01);
    color: black;
    margin-top: 8px;
}

.notification {
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.02);
    margin-top: 8px;
}
.signInAsUser {
    padding: 1px 5px 2px 5px;
    border-radius: 12px;  
    font-size: 0.7em;
    margin-top: 3px;
}

.flex-container {
    display: flex;
    align-items: stretch;
    background-color: #f1f1f1;
    padding: 10px 10px 20px 10px;
}

.flex-container > div {          
    color: white;     
    text-align: center;
}

.camera-icon {
    margin-top: 13px;
    color: black;
}
.contactUserName {
    padding: 4px 20px; 
}
#topicSelect {
    display: none;
}

.topic {
    width: 100%;
    padding: 1px;
    background-color: rgba(0, 0, 0, 0.01);
    margin: 3px 10px;
}
.itemTopic {
    padding: 0px 6px 2px 6px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px dotted rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    font-size: 0.8em;
    margin: 2px;
}
.itemTopics {
    padding: 8px;
}
.hideOnWideScreen {
    display: none;
}
.messagesPage {
    position: absolute;
    top: 60px;
    bottom: 0;
    width: 70%;
}
.messagesContacts {
    padding: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    height: 100%;
}

.nav-item.custom-nav-item {
    padding: 0px 8px 5px 6px;
    font-size: 1.2em;
    background-color: rgba(0, 0, 0, 0.05);
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 0 4px;
}
.itemHeader {
    padding: 8px;
    padding-bottom: 0;
}
.actionButton {
    width: 100%;
    display: inline-block;
    padding: 5px;
}
.itemStatistics .row {
        margin:0;
    padding: 1px;
}
.itemStatistics .row .col-sm-4 {
    padding: 1px;
}
p, .col-sm-4 {
    font-size: 0.8em;
}
h4 {
    font-size: 0.8em;
}
.text-content {
    font-size: 1em;
}
.text-content p {
    margin-top: 8px;
}
.text-content-title {
    font-size: 1.2em;
    margin-top: 15px;
}
.profilePictureContainer {
    width: 100%;
    text-align: center;
    padding: 10px;
}
.profileActionButton {
    width: 49%;
    text-align: center;
    display: inline-block;
    margin-bottom: 8px;
}

.task {
    width: 100%;
    font-size: 0.8em;
    padding: 3px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 3px;
    margin-top: -1px;
}
.taskTab {
    margin: 13px;
}
.taskTitle {
    margin-top: 2px;   
    display: inline-block;
    margin-bottom: 10px;
}
.task .btn {
    font-size: 0.8em;
    width: 20px;
    padding: 8px 2px;
    float: right;
    margin-top: 2px;
    margin-right: -15px;
}
.taskContainer, commentContainer {
    width: 100%;
    display: block;
}
.container-fluid, .row, .col-md {
   
}
.taskColumn {
    margin-bottom: 8px;
}
.taskCard {
    padding: 8px;
}
.step {
    background-color: rgba(0, 0, 0, 0.03);
    width: 100%;
    display: block;
    margin-top: 3px;
    padding: 5px;
    padding-left: 10px;
}
.hideElement {
    display: none;
}

body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

ol.example li.placeholder {
    position: relative;
    /** More li styles **/
}

ol.example li.placeholder:before {
    position: absolute;
    /** Define arrowhead **/
}

ol.todoSort {
    list-style: none;
    padding: 0;
}
.taskTitleText {
    font-size: 1.2em;
}

.taskTitleText:hover {
    text-decoration: underline;
    cursor: pointer;
}
.itemContent {
    padding: 8px;
    text-align: justify;
}
.editorInformation {
    background-color: rgba(0,0,0,0.1);
    color: black;
}
.ql-content {
    font-size: 1.2em;
}
code {
    background-color: rgba(0, 0, 0, 0.1);
}
pre.ql-syntax {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 8px 10px 5px 10px;
    border-radius: 3px;
}
.btn.btn-light {
    z-index: 1;
}

.modal {
    margin-top: 78px;
}

.table, tr, thead, tbody, td {
    border: none;
}

.background-standard {
    background-color: white;
}
.background-element {
    background-color: white;
}
.background-medium {
    background-color: white;
}
.color-standard, .choices, .choices__inner, .choices__list {
    color: black;
}
.background-fade {
    background-color: rgba(1, 1, 1, 0.1) !important;
}
body.dark-mode-theme .ql-snow .ql-stroke, body.dark-mode-theme .ql-snow .ql-fill {
    stroke: white;
}
body.dark-mode-theme .ql-snow.ql-toolbar button.ql-active {
    stroke: deepskyblue;
}

body.dark-mode-theme .background-standard, body.dark-mode-theme .choices, body.dark-mode-theme .choices__inner, body.dark-mode-theme .choices__list, body.dark-mode-theme textarea, body.dark-mode-theme textarea:focus, body.dark-mode-theme input, body.dark-mode-theme input:focus {
    background-color: #0d1117;
    border: none;
    outline: none;
    color: white;
}
body.dark-mode-theme .choices__list.is-active {
    border: none;
}
body.dark-mode-theme .choices {
    border-radius: 8px;
}

body.dark-mode-theme .choices .is-highlighted {
        background-color: grey;
        color: black;
    }

body.dark-mode-theme .background-element {
    background-color: #161b22 !important;
}

body.dark-mode-theme .background-medium {
    background-color: rgb(42,47,54) !important;
}

body.dark-mode-theme .color-standard {
    color: white !important;
}

body.dark-mode-theme a {
    color: white !important;
}

body.dark-mode-theme .task {
    border: 1px solid rgba(255, 255, 255, 0.2);
}

body.dark-mode-theme .postElementContainer {
    border: 1px solid rgba(255, 255, 255, 0.2);
}

body.dark-mode-theme span {
    color: #8b949e !important;
}

body.dark-mode-theme .btn {
    color: white !important;
    background-color: #161b22 !important;
    border: none;
}

body.dark-mode-theme .table {
    color: white !important;
    border: none;
}

.ql-divider, .ql-formats {
    color: white;
    stroke: white;
}

body.dark-mode-theme .ql-formats .ql-divider, .ql-formats {
    color: white;
    stroke: white;
}

body.dark-mode-theme .table.table-bordered, body.dark-mode-theme .table.table-bordered td, body.dark-mode-theme .table.table-bordered tr {
    border-color: rgba(50,50,50,1);
}

body.dark-mode-theme .btn.btn-danger { 
    background-color: red !important; 
}

body.dark-mode-theme nav.border-bottom {
    border-bottom: none;
}

body.dark-mode-theme .background-standard, body.dark-mode-theme textarea, body.dark-mode-theme textarea:focus, body.dark-mode-theme input, body.dark-mode-theme input:focus {
    background-color: #0d1117;
    border: none;
    outline: none;
    color: white;
}

.background-standard, .choices, .choices__inner, .choices__list {
    background-color: white;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

body.dark-mode-theme .border-bottom {
    border-bottom: none !important;
}

body.dark-mode-theme {
    color: white !important;
    background-color: #0d1117;
}

body.dark-mode-theme .modal-header {
    border-bottom: 1px solid rgba(60,60,60,1);
}
body.dark-mode-theme .modal-footer {
    border-top: 1px solid rgba(60,60,60,1);
}

.loading {
    background: transparent url('http://thinkfuture.com/wp-content/uploads/2013/10/loading_spinner.gif') center no-repeat;
}

.ql-snow {
    border: 1px solid rgba(195, 195, 195, 0.3) !important;
    color: black !important;
}

body.dark-mode-theme .ql-snow  {
    color: white !important;
}
#introductionOutputContainer {
    display: none;
}
#listOfBlocks {
    list-style: none;
    padding: 0;
}
body.dark-mode-theme   .blockText {
    color: white !important;
}

.blockText {
    color: black !important;
}

#listOfBlocks img{
    width: 100%;
    margin-top: 10px;
}
#listOfBlocks p a {
    font-weight: bold;
    color: deepskyblue !important;
    text-decoration: underline;
}