@model List<Streamnote.Relational.Models.Descriptors.TopicDescriptor>

@{
    foreach (var topic in Model)
    {
        <span class='topic'>
            <a class='btn background-medium' onclick='selectTopic("@topic.Name")'>@topic.Name</a>
        </span>
    }
}