@model List<streamnote.Models.Descriptors.TopicDescriptor>

@{
    foreach (var topic in Model)
    {
        <span class='topic'>
            <a class='btn' onclick='selectTopic("@topic.Name")'>@topic.Name</a>
        </span>
    }
}